# Data Analysis on Medicaid & Medicare, Private insurance Data

Background <story><br>
    One day, there are patients going to see doctors/physicians, they don't have any insurance but cash in their pockets. Given you are the doctor, what would you do? Will you start calling CMS, Hospital Accounting team to help you figure out how much you should charge the patients? You would be highly worried that you might scare patients if you charge too much. However, you don't want to lose your job if your earning is not able to pay the utility fees. Here comes our **PhysicianFeeScheduler Project**. 
    
   In our project, we are going to analyze some datasets from CMS and Census database. We will give our assumption, an earlier estimation of a reasonable anchor price for physicians/doctors when their patients without any insurance come to request a specific procedure service.

In this project, we will try to collect data on below areas:
* practitional fee schedule, 
* population distribution, 
* medicaid/medicare enrollment

From above datasets, we are going to analyze a reasonable fee schedule for

### Other References
- [Markdown Github helper for writing/formatting syntax](https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax)
- [LeTex for scientific formulas](https://www.math.ubc.ca/~pwalls/math-python/jupyter/latex/)

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import os
import re

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

from sklearn import svm
from sklearn.naive_bayes import MultinomialNB

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, GridSearchCV

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, classification_report
from sklearn.pipeline import Pipeline

from sklearn.ensemble import RandomForestClassifier

import nltk
import string
import matplotlib.pyplot as plotter
import matplotlib.pyplot as plt

from collections import Counter
from time import time

# 1 Population Data Process
- Population census
- Medicaid enrollment population
- Medicare enrollment population
## 1.1 Population census from Census.gov
2018 County Population Totals [Link](https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-detail.html#par_textimage_1383669527)

In [2]:
# Collect population values
df_pop = pd.read_csv("data/cc-est2018-alldata.csv", encoding="ISO-8859-1")
df_pop.head(10)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1
5,50,1,1,Alabama,Autauga County,1,5,3080,1539,1541,...,62,34,2,4,2,3,0,1,1,1
6,50,1,1,Alabama,Autauga County,1,6,3157,1543,1614,...,54,39,5,3,0,0,2,0,5,2
7,50,1,1,Alabama,Autauga County,1,7,3330,1594,1736,...,56,53,4,6,0,2,0,1,2,1
8,50,1,1,Alabama,Autauga County,1,8,4157,2004,2153,...,50,37,2,4,4,2,0,2,1,2
9,50,1,1,Alabama,Autauga County,1,9,4086,1974,2112,...,47,34,3,1,2,3,0,0,1,1

#### Conclusion1.1
*it is divided into 18 age groups, agegroup = 0 is the total number of all age groups.*

*currently, we only include below columns into consideration "STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP, TOT_MALE,TOT_FEMALE"*

In [3]:
# Clean1: trim the spaces in the column names
df_pop.rename(columns = lambda x: x.strip(), inplace=True)
# Clean2: replace year 1-11 to 2008-2018
yearDict = {(x+1):(2008+x) for x in range(11)}
df_pop.replace({"YEAR":yearDict}, inplace=True)

### Vis1.1 The trend of each age group population changed in county = "COOK" and state = "Illinois"

### Vis1.2 Try to combine some other dataset to get more interesting data (medicaid expenditure)
* Does elder age group increase lead to a huge gap budget for the state?
* Does elder age group weighs more or yonger age group weighs more in the medicare/medicaid expenditure/budget?

* Will the population increase the hospitals/physicians in per region?

In [4]:
# Draw a line graph of each age group's trend

In [5]:
df_pop_total = df_pop[["STNAME", "CTYNAME", "TOT_POP", "YEAR"]][df_pop["AGEGRP"]==0]
df_pop_total.CTYNAME = df_pop_total.CTYNAME.apply(lambda x: x.strip().upper())
df_pop_total.head()

     STNAME         CTYNAME  TOT_POP  YEAR
0   Alabama  AUTAUGA COUNTY    54571  2008
19  Alabama  AUTAUGA COUNTY    54574  2009
38  Alabama  AUTAUGA COUNTY    54754  2010
57  Alabama  AUTAUGA COUNTY    55208  2011
76  Alabama  AUTAUGA COUNTY    54936  2012

#### Conclusion1.2
* there are total 34562 records in the table
* the data above are total statistics from nearly 56 states/territories. 
* the data is in county level, there are totally 840 counties in the table.
* it totals continuous 01 - 11 years data, we can infer that year = "11" means year2018

In [6]:
# SELECT ONLY CURRENT YEAR 2018 By County
df_pop_total_2018Bc= df_pop_total[df_pop_total["YEAR"] == 2018]
df_pop_total_2018Bc.head(10)

       STNAME          CTYNAME  TOT_POP  YEAR
190   Alabama   AUTAUGA COUNTY    55601  2018
399   Alabama   BALDWIN COUNTY   218022  2018
608   Alabama   BARBOUR COUNTY    24881  2018
817   Alabama      BIBB COUNTY    22400  2018
1026  Alabama    BLOUNT COUNTY    57840  2018
1235  Alabama   BULLOCK COUNTY    10138  2018
1444  Alabama    BUTLER COUNTY    19680  2018
1653  Alabama   CALHOUN COUNTY   114277  2018
1862  Alabama  CHAMBERS COUNTY    33615  2018
2071  Alabama  CHEROKEE COUNTY    26032  2018

In [7]:
# census population statistics by state
df_pop_total_2018Bs = df_pop_total_2018Bc.groupby(["STNAME", "YEAR"])["TOT_POP"].sum().reset_index()
df_pop_total_2018Bs.head()

       STNAME  YEAR   TOT_POP
0     Alabama  2018   4887871
1      Alaska  2018    737438
2     Arizona  2018   7171646
3    Arkansas  2018   3013825
4  California  2018  39557045

### 1.2 State Level Medicaid from CMS
Medicaid Enrollment Data Collected Through MBES[link](https://www.medicaid.gov/medicaid/national-medicaid-chip-program-information/medicaid-chip-enrollment-data/index.html)
#### 1.2.1 Load Data set
All years State Report [link](https://data.medicaid.gov/Enrollment/State-Medicaid-and-CHIP-Applications-Eligibility-D/n5ce-jxme)

**2018 Dec State Report Update**[link](https://data.medicaid.gov/Enrollment/2018-12-Updated-applications-eligibility-determina/gy72-q4z9)

expenditure/cost [link](https://www.medicaid.gov/medicaid/financial-management/state-expenditure-reporting-medicaid-chip/expenditure-reports-mbescbes/index.html)

In [8]:
#Collect Medicaid enrollment information
df_mdcaid_2018Bs = pd.read_csv("data/2018_12_Updated_Medicaid_enrollment_data.csv", encoding="ISO-8859-1")
df_mdcaid_2018Bs.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_mdcaid_2018Bs.head()

,STATE ABBREVIATION,STATE NAME,REPORT DATE,STATE EXPANDED MEDICAID,PRELIMINARY_UPDATED,FINAL_REPORT,NEW APPLICATIONS SUBMITTED TO MEDICAID AND CHIP AGENCIES,NEW APPLICATIONS SUBMITTED TO MEDICAID AND CHIP AGENCIES Â FOOTNOTES,APPLICATIONS FOR FINANCIAL ASSISTANCE SUBMITTED TO THE STATE BASED MARKETPLACE,APPLICATIONS FOR FINANCIAL ASSISTANCE SUBMITTED TO THE STATE BASED MARKETPLACE Â FOOTNOTES,...,MEDICAID AND CHIP CHILD ENROLLMENT - FOOTNOTES,TOTAL MEDICAID AND CHIP ENROLLMENT,TOTAL MEDICAID AND CHIP ENROLLMENT - FOOTNOTES,LATITUDE,LONGITUDE,NEW GEOREFERENCED COLUMN,TOTAL MEDICAID ENROLLMENT,TOTAL MEDICAID ENROLLMENT - FOOTNOTES,TOTAL CHIP ENROLLMENT,TOTAL CHIP ENROLLMENT - FOOTNOTES
0,TN,Tennessee,12/01/2018,N,U,Y,NaN,NaN,NaN,NaN,...,NaN,1396302,NaN,41.6772,-71.5101,"(41.6772, -71.5101)",1342027,NaN,54275,NaN
1,ID,Idaho,12/01/2018,N,U,Y,14639.0,NaN,NaN,NaN,...,NaN,280570,NaN,42.0046,-93.2140,"(42.0046, -93.214)",256565,NaN,24005,NaN
2,MA,Massachusetts,12/01/2018,Y,U,Y,16180.0,NaN,4462.0,NaN,...,NaN,1598878,NaN,31.1801,-91.8749,"(31.1801, -91.8749)",1407486,NaN,191392,NaN
3,NM,New Mexico,12/01/2018,Y,U,Y,10579.0,NaN,NaN,NaN,...,NaN,728327,NaN,43.4108,-71.5653,"(43.4108, -71.5653)",691223,NaN,37104,NaN
4,HI,Hawaii,12/01/2018,Y,U,Y,4822.0,NaN,NaN,NaN,...,NaN,331075,NaN,32.9866,-83.6487,"(32.9866, -83.6487)",305872,NaN,25203,NaN

In [9]:
#

df_mdcaid_2018Bs = df_mdcaid_2018Bs[["STATE ABBREVIATION", "STATE NAME", "TOTAL MEDICAID AND CHIP ENROLLMENT"]]

df_mdcaid_2018Bs.rename(columns={"STATE NAME":"STNAME", 
                                 "STATE ABBREVIATION":"STABBR",
                                "TOTAL MEDICAID AND CHIP ENROLLMENT": "MDCAID_TOTAL_BY_STATE"}, inplace=True)

df_mdcaid_2018Bs.head()

  STABBR         STNAME  MDCAID_TOTAL_BY_STATE
0     TN      Tennessee                1396302
1     ID          Idaho                 280570
2     MA  Massachusetts                1598878
3     NM     New Mexico                 728327
4     HI         Hawaii                 331075

#### Conclusion2.1
>We want below attributes from above table:
* State Abbreviation	
* State Name
* Report Date
* Total Medicaid and CHIP Enrollment
* Total Medicaid Enrollment

In [10]:
df_mdcaid_2018Bs.count()

STABBR                   51
STNAME                   51
MDCAID_TOTAL_BY_STATE    51
dtype: int64

In [11]:
# Check if population df and medicaid is matched by state name 
df_pop_mdcaid_2018Bs = pd.merge(df_pop_total_2018Bs, df_mdcaid_2018Bs, on="STNAME")
df_pop_mdcaid_2018Bs.head()

       STNAME  YEAR   TOT_POP STABBR  MDCAID_TOTAL_BY_STATE
0     Alabama  2018   4887871     AL                 911983
1      Alaska  2018    737438     AK                 211912
2     Arizona  2018   7171646     AZ                1700470
3    Arkansas  2018   3013825     AR                 850695
4  California  2018  39557045     CA               11927676

### 1.3 STATE/COUNTY level Medicare from CMS

#### 1.3.1 Load Data set

State/County Level containing cost/expenditure [Link](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Geographic-Variation/GV_PUF) <<State County All Table 2018.xlsx>>

HRR Level containing cost/expenditure [Link](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Geographic-Variation/GV_PUF)

In [12]:
%%time
# use time measurement to check the load time of data source file = 3250 * 248 table
df_medicare_2018 = pd.read_excel("data/State County All Table 2018.xlsx", 
                                       sheet_name="State_county 2018",
                                 dtype={"State and County FIPS Code":str},
                                 header=1, 
                                 index_col=None)

CPU times: user 7.28 s, sys: 80.5 ms, total: 7.36 s
Wall time: 7.54 s

In [13]:
# DataFrame Column Labels Formatter
df_medicare_2018.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_medicare_2018.rename(columns = {"STATE":"STABBR", 
                                   "COUNTY":"CTYNAME",
                                  "STATE AND COUNTY FIPS CODE":"FIPS_CODE",
                                  "BENEFICIARIES WITH PART A AND PART B":"MDCARE_TOTAL_2018",}, inplace=True)
df_medicare_2018 = df_medicare_2018[df_medicare_2018.CTYNAME != "UNKNOWN"]
df_medicare_2018.CTYNAME = df_medicare_2018.CTYNAME.apply(lambda x:x.strip().upper() + " COUNTY")
df_medicare_2018.head()

,STABBR,CTYNAME,FIPS_CODE,MDCARE_TOTAL_2018,FFS BENEFICIARIES,MA BENEFICIARIES,MA PARTICIPATION RATE,AVERAGE AGE,PERCENT FEMALE,PERCENT MALE,...,PQI11 BACTERIAL PNEUMONIA ADMISSION RATE (AGE < 65),PQI11 BACTERIAL PNEUMONIA ADMISSION RATE (AGE 65-74),PQI11 BACTERIAL PNEUMONIA ADMISSION RATE (AGE 75+),PQI12 UTI ADMISSION RATE (AGE < 65),PQI12 UTI ADMISSION RATE (AGE 65-74),PQI12 UTI ADMISSION RATE (AGE 75+),PQI15 ASTHMA IN YOUNGER ADULTS ADMISSION RATE (AGE < 40),PQI16 LOWER EXTREMITY AMPUTATION ADMISSION RATE (AGE < 65),PQI16 LOWER EXTREMITY AMPUTATION ADMISSION RATE (AGE 65-74),PQI16 LOWER EXTREMITY AMPUTATION ADMISSION RATE (AGE 75+)
0,Na,NATIONAL TOTAL COUNTY,nan,56031636,33499472,22532164,40.21 %,72,54.67 %,45.33 %,...,497,344,1005,292,219,943,159,238,69,58
1,AK,STATE TOTAL COUNTY,nan,86462,84714,1748,2.02 %,71,50.41 %,49.59 %,...,211,203,728,140,99,499,*,193,35,70
2,AK,ALEUTIANS EAST COUNTY,2013,*,117,*,*,72,47.01 %,52.99 %,...,,,,,,,,,,
3,AK,ALEUTIANS WEST COUNTY,2016,*,135,*,*,71,46.67 %,53.33 %,...,,,,,,,,,,
4,AK,ANCHORAGE COUNTY,2020,32227,31503,724,2.25 %,71,52.76 %,47.24 %,...,,,,,,,,,,

In [67]:
df_mdcare_2018 = df_medicare_2018[["STABBR", "CTYNAME", "FIPS_CODE", 
                                     "MDCARE_TOTAL_2018", "FFS BENEFICIARIES", "MA BENEFICIARIES"]]
#df['col1'] = np.where(df['col1'] == 0, df['col2'], df['col1'])
df_mdcare_2018["MDCARE_TOTAL_2018"] = np.where(df_mdcare_2018["MDCARE_TOTAL_2018"] == "*", 
                                               df_mdcare_2018["FFS BENEFICIARIES"], 
                                               df_mdcare_2018["MDCARE_TOTAL_2018"])
df_mdcare_2018.loc[:, "MDCARE_TOTAL_2018"] = df_mdcare_2018["MDCARE_TOTAL_2018"].astype(int)
df_mdcare_2018 = df_mdcare_2018.replace({"FFS BENEFICIARIES":"*", "MA BENEFICIARIES":"*"}, 0)
df_mdcare_2018.head()

/Users/dahang/anaconda3/envs/cs418env/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,STABBR,CTYNAME,FIPS_CODE,MDCARE_TOTAL_2018,FFS BENEFICIARIES,MA BENEFICIARIES
0,Na,NATIONAL TOTAL COUNTY,nan,56031636,33499472,22532164
1,AK,STATE TOTAL COUNTY,nan,86462,84714,1748
2,AK,ALEUTIANS EAST COUNTY,2013,117,117,0
3,AK,ALEUTIANS WEST COUNTY,2016,135,135,0
4,AK,ANCHORAGE COUNTY,2020,32227,31503,724

#### 1.3.2 State Level Medicare Statistics
We can use "STATE TOTAL" to filter state-level statistics from medicare data

In [15]:
# PICK up state level statistics
df_mdcare_2018Bs = df_mdcare_2018[df_mdcare_2018["CTYNAME"] == "STATE TOTAL COUNTY"]
df_mdcare_2018Bs = df_mdcare_2018Bs[df_mdcare_2018Bs.columns[[0, 3, 4, 5]]]

In [16]:
df_pop_mdcaid_mdcare_2018Bs = pd.merge(df_pop_mdcaid_2018Bs, df_mdcare_2018Bs, on="STABBR")
df_pop_mdcaid_mdcare_2018Bs.head()

,STNAME,YEAR,TOT_POP,STABBR,MDCAID_TOTAL_BY_STATE,MDCARE_TOTAL_2018,FFS BENEFICIARIES,MA BENEFICIARIES
0,Alabama,2018,4887871,AL,911983,985296,558241,427055
1,Alaska,2018,737438,AK,211912,86462,84714,1748
2,Arizona,2018,7171646,AZ,1700470,1199206,674540,524666
3,Arkansas,2018,3013825,AR,850695,602253,438752,163501
4,California,2018,39557045,CA,11927676,5608325,2859642,2748683

#### 1.3.3 County Level Medicare Statistics
It can be concluded from df_mdcare_2018

## 4 Conclusion
We have got a result dataframe of # of state-level population, # of medicaid enrollment, # of medicare beneficiaries. By utilizing these statistic data, we compute % of "STATE_MEDICAID_PRCENT" = medicaid enrollment / state-level population, % of "STATE_MEDICARE_PRCENT" = # of medicare beneficiaries / state-level population. 

Suppose % of private provider customers = 1 - % of "STATE_MEDICAID_PRCENT" - % of "STATE_MEDICARE_PRCENT

[Potential Provider list](https://www.cms.gov/Research-Statistics-Data-and-Systems/Downloadable-Public-Use-Files/Provider-of-Services)

In [17]:
# Choose "TOTAL MEDICAID AND CHIP ENROLLMENT" as medicaid total
df_pop_mdcaid_mdcare_2018Bs["STATE_MDCAID_PT"] = df_pop_mdcaid_mdcare_2018Bs["MDCAID_TOTAL_BY_STATE"] / df_pop_mdcaid_mdcare_2018Bs["TOT_POP"]
df_pop_mdcaid_mdcare_2018Bs["STATE_MDCARE_PT"] = df_pop_mdcaid_mdcare_2018Bs["MDCARE_TOTAL_2018"] / df_pop_mdcaid_mdcare_2018Bs["TOT_POP"]
df_pop_mdcaid_mdcare_2018Bs["STATE_PRIVATE_PT"] = 1 - (df_pop_mdcaid_mdcare_2018Bs["STATE_MDCAID_PT"] + df_pop_mdcaid_mdcare_2018Bs["STATE_MDCARE_PT"])
df_popMM_2018Bs = df_pop_mdcaid_mdcare_2018Bs[["STABBR", "STNAME", "STATE_MDCAID_PT", 
                                   "STATE_MDCARE_PT", "STATE_PRIVATE_PT"]]
df_popMM_2018Bs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
STABBR              51 non-null object
STNAME              51 non-null object
STATE_MDCAID_PT     51 non-null float64
STATE_MDCARE_PT     51 non-null float64
STATE_PRIVATE_PT    51 non-null float64
dtypes: float64(3), object(2)
memory usage: 2.4+ KB

In [18]:
df_popMM_2018Bs.sort_values(by="STATE_MDCAID_PT")

,STABBR,STNAME,STATE_MDCAID_PT,STATE_MDCARE_PT,STATE_PRIVATE_PT
44,UT,Utah,0.091235,0.112805,0.795960
50,WY,Wyoming,0.100596,0.174673,0.724731
34,ND,North Dakota,0.119819,0.159185,0.720995
46,VA,Virginia,0.123661,0.159901,0.716437
41,SD,South Dakota,0.125532,0.184201,0.690266
27,NE,Nebraska,0.128292,0.165617,0.706091
16,KS,Kansas,0.133792,0.170612,0.695596
29,NH,New Hampshire,0.135998,0.196414,0.667588
25,MO,Missouri,0.148749,0.187639,0.663612
43,TX,Texas,0.150117,0.131886,0.717996
12,ID,Idaho,0.159941,0.174868,0.665191
33,NC,North Carolina,0.169819,0.180137,0.650044
10,GA,Georgia,0.173188,0.151089,0.675723
9,FL,Florida,0.173875,0.199878,0.626247
49,WI,Wisconsin,0.175457,0.189697,0.634845
36,OK,Oklahoma,0.184666,0.173042,0.642292
0,AL,Alabama,0.186581,0.201580,0.611839
23,MN,Minnesota,0.190574,0.168770,0.640656
19,ME,Maine,0.191945,0.234841,0.573214
30,NJ,New Jersey,0.195115,0.162160,0.642726
40,SC,South Carolina,0.205398,0.197556,0.597046
42,TN,Tennessee,0.206248,0.188289,0.605463
24,MS,Mississippi,0.207789,0.192592,0.599619
28,NV,Nevada,0.209666,0.154855,0.635479
15,IA,Iowa,0.213254,0.186596,0.600150
14,IN,Indiana,0.216820,0.176874,0.606306
20,MD,Maryland,0.217802,0.149199,0.633000
13,IL,Illinois,0.224486,0.160438,0.615077
35,OH,Ohio,0.226794,0.186815,0.586391
5,CO,Colorado,0.229293,0.143697,0.627010
38,PA,Pennsylvania,0.230308,0.197668,0.572024
47,WA,Washington,0.230786,0.163633,0.605581
21,MA,Massachusetts,0.231649,0.173623,0.594728
11,HI,Hawaii,0.233071,0.166615,0.600314
22,MI,Michigan,0.233436,0.196383,0.570180
37,OR,Oregon,0.233718,0.189091,0.577191
2,AZ,Arizona,0.237110,0.167215,0.595675
6,CT,Connecticut,0.239581,0.172490,0.587929
7,DE,Delaware,0.240611,0.198173,0.561216
45,VT,Vermont,0.255651,0.215210,0.529139
26,MT,Montana,0.263272,0.199809,0.536919
17,KY,Kentucky,0.273529,0.194916,0.531554
3,AR,Arkansas,0.282264,0.199830,0.517906
1,AK,Alaska,0.287362,0.117246,0.595391
48,WV,West Virginia,0.288319,0.232169,0.479511
39,RI,Rhode Island,0.294382,0.185312,0.520307
4,CA,California,0.301531,0.141778,0.556691
32,NY,New York,0.317918,0.167627,0.514455
18,LA,Louisiana,0.338505,0.174831,0.486664
31,NM,New Mexico,0.347579,0.182214,0.470207
8,DC,District of Columbia,0.369053,0.110949,0.519998

## 5 Price/Fee Schedule Data

1. ***CPT/HCPCT Code Set***
> 1. [CPT Code](https://www.cms.gov/Research-Statistics-Data-and-Systems/Downloadable-Public-Use-Files/Part-B-National-Summary-Data-File/Overview)
The data sets are summarized by meaningful ***Healthcare Common Procedure Coding/Current Procedural Terminology, (HCPC/CPT)***, code ranges. Brief descriptions for the code ranges and modifiers are provided in the readme file. The data set name contains the year followed by a five character sequence that is the HCPC/CPT code. This HCPC/CPT code corresponds to the first HCPC/CPT in the selected code range of disciplines.
> 2. [HCPCT Codeset](https://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets/Alpha-Numeric-HCPCS)These files contain the Level II alphanumeric HCPCS procedure and modifier codes, their long and short descriptions, and applicable Medicare administrative, coverage and pricing data

2. ***Physician Fee Schedule***
> * **Medicare PFS** <br> It is located in CMS physician fee schedule [overview](https://www.cms.gov/apps/physician-fee-schedule/search/search-criteria.aspx) tool. Here is the [guideline/specification](https://www.cms.gov/apps/physician-fee-schedule/help/How_to_MPFS_Booklet_ICN901344.pdf) for the searchable tool.<img src="images/IN_medicare_pfs.png">
> * **Medicaid PFS** <br> It can be retrieved from each state's healthcare official website. Below are three samples from **Indiana**, **Connecticut**, and **Illinois**.
>> 1. [Indiana medicaid phsician fee schedule](http://provider.indianamedicaid.com/ihcp/Publications/MaxFee/fee_home.asp)
>> 2. [Connecticut medicaid phsician fee schedule](https://www.ctdssmap.com/CTPortal/Provider/ProviderFeeScheduleDownload/tabid/54/Default.aspx)
>> 3. [Illinois medicaid phsician fee schedule](https://www.illinois.gov/hfs/MedicalProviders/MedicaidReimbursement/Pages/Practitioner.aspx)

In [19]:
#Indiana medicaid physician fee schedule
df_medicaid_OPFS_IN = pd.read_excel("data/Indiana/Medicaid_Outpatient Fee Schedule 2020-04.xlsx", 
                                    sheet_name="Tab 3 - Fee Schedule", 
                                    header=16, index_col=None, usecols=None)
df_medicaid_OPFS_IN.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_medicaid_OPFS_IN = df_medicaid_OPFS_IN[df_medicaid_OPFS_IN["FEE SCHED AMT"].notnull()]
df_medicaid_OPFS_IN["PRICE EFFECTIVE"] = df_medicaid_OPFS_IN["PRICE EFFECTIVE"].apply(pd.to_datetime)
df_medicaid_OPFS_IN["PROC CODE"] = df_medicaid_OPFS_IN["PROC CODE"].apply(str)
df_medicaid_OPFS_IN = df_medicaid_OPFS_IN[df_medicaid_OPFS_IN["PRICE EFFECTIVE"] < pd.to_datetime("1/1/2019")]
df_medicaid_OPFS_IN["FEE SCHED AMT"] = df_medicaid_OPFS_IN["FEE SCHED AMT"].astype(float)

In [20]:
df_medicaid_OPFS_IN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358 entries, 11 to 16034
Data columns (total 11 columns):
PROC CODE          2358 non-null object
DESCRIPTION        2358 non-null object
IPO CODE           2358 non-null object
PA                 2358 non-null object
COV                2358 non-null object
PRICING            2358 non-null object
HAF EXEMPT?        2358 non-null object
FEE SCHED AMT      2358 non-null float64
MANUAL METHOD      0 non-null object
PRICE EFFECTIVE    2358 non-null datetime64[ns]
ASC                107 non-null object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 221.1+ KB

In [21]:
#Medicare Searchable CPT Pricing info for certain CPT
df_IN_medicare_price = pd.read_csv("data/Indiana/Medicare_PFSExport_IN2018.csv", header=0, 
                                       index_col=None, usecols=[0, 2, 5, 6, 7, 8])
df_IN_medicare_price.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_IN_medicare_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9194 entries, 0 to 9193
Data columns (total 6 columns):
HCPCS CODE                      9194 non-null object
SHORT DESCRIPTION               9194 non-null object
NON-FACILITY PRICE              9194 non-null object
FACILITY PRICE                  9194 non-null object
NON-FACILITY LIMITING CHARGE    5174 non-null object
FACILITY LIMITING CHARGE        7079 non-null object
dtypes: object(6)
memory usage: 431.0+ KB

In [22]:
#Handle $12,234.56 char formatted cash amount to float type
for col in ("NON-FACILITY PRICE", "FACILITY PRICE"):
    df_IN_medicare_price[col] = df_IN_medicare_price[col].str.replace(r',', '')
df_IN_medicare_price["NON-FACILITY PRICE"] = (df_IN_medicare_price["NON-FACILITY PRICE"]
                                                  .str.replace(r'[^-+\d.]', '').astype(float))
df_IN_medicare_price["FACILITY PRICE"] = (df_IN_medicare_price["FACILITY PRICE"]
                                                  .str.replace(r'[^-+\d.]', '').astype(float))

In [23]:
df_IN_medicare_price.rename(columns={"HCPCS CODE":"PROC CODE"}, inplace=True)

In [24]:
df_IN_medicare_price.tail() # NON-FACILITY PRICE VS. FACILITY PRICE

,PROC CODE,SHORT DESCRIPTION,NON-FACILITY PRICE,FACILITY PRICE,NON-FACILITY LIMITING CHARGE,FACILITY LIMITING CHARGE
9189,99494,1st/sbsq psyc collab care,62.62,41.45,$68.42,$45.28
9190,99495,Trans care mgmt 14 day disch,157.13,106.85,$171.67,$116.73
9191,99496,Trans care mgmt 7 day disch,222.37,154.87,$242.93,$169.20
9192,99497,Advncd care plan 30 min,81.50,76.54,$89.04,$83.62
9193,99498,Advncd care plan addl 30 min,72.14,71.81,$78.81,$78.45

### Combination of both Medicaid and medicare price info

In [25]:
df_IN_PFS = pd.merge(df_medicaid_OPFS_IN, df_IN_medicare_price, on="PROC CODE")
df_IN_PFS = df_IN_PFS[["PROC CODE", "DESCRIPTION", "FEE SCHED AMT", "NON-FACILITY PRICE"]]
df_IN_PFS.rename(columns={"FEE SCHED AMT":"MEDICAID_PFS_AMT", "NON-FACILITY PRICE":"MEDICARE_PFS_AMT"}, inplace=True)
df_IN_PFS["ESTIMATED_PRIVATE_PFS_AMT"] = df_IN_PFS["MEDICARE_PFS_AMT"]
df_IN_PFS.head()

,PROC CODE,DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT
0,10030,GUIDE CATHET FLUID DRAINAGE,539.11,533.82,533.82
1,10035,PERQ DEV SOFT TISS 1ST IMAG,480.64,488.31,488.31
2,19081,BX BREAST 1ST LESION STRTCTC,702.08,652.03,652.03
3,19083,BX BREAST 1ST LESION US IMAG,702.08,634.19,634.19
4,19085,BX BREAST 1ST LESION MR IMAG,702.08,948.13,948.13

### Compute the anchor price

In [26]:
IN_medicaidPrcent = df_popMM_2018Bs.iloc[14, 2]
# print(type(IN_medicaidPrcent))
IN_medicarePrcent = df_popMM_2018Bs.iloc[14, 3]
# print(type(IN_medicarePrcent))
IN_privatePrcent = df_popMM_2018Bs.iloc[14, 4]
# print(type(IN_privatePrcent))

df_IN_PFS["PFS_AMT_BY_STATE"] = df_IN_PFS["MEDICAID_PFS_AMT"]*IN_medicaidPrcent + \
    df_IN_PFS["MEDICARE_PFS_AMT"]*IN_medicarePrcent + \
    df_IN_PFS["ESTIMATED_PRIVATE_PFS_AMT"]*IN_privatePrcent
df_IN_PFS["PFS_AMT_BY_STATE"] = df_IN_PFS["PFS_AMT_BY_STATE"].round(2)

In [27]:
df_IN_PFS.head()

,PROC CODE,DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE
0,10030,GUIDE CATHET FLUID DRAINAGE,539.11,533.82,533.82,534.97
1,10035,PERQ DEV SOFT TISS 1ST IMAG,480.64,488.31,488.31,486.65
2,19081,BX BREAST 1ST LESION STRTCTC,702.08,652.03,652.03,662.88
3,19083,BX BREAST 1ST LESION US IMAG,702.08,634.19,634.19,648.91
4,19085,BX BREAST 1ST LESION MR IMAG,702.08,948.13,948.13,894.78

### Connecticut medicaid physician fee schedule
1. Clinic - Ambulatory Surgical Center CSV file manually handled the tailed specifications after downloaded.
2. Physician Office and Outpt Services CSV file

In [28]:
#Connecticut medicaid physician fee schedule
df_medicaid_ASCPFS_CT = pd.read_csv("data/Connecticut/medicaid_refw242_feesched_casc_24.csv", header=2, index_col=None)
df_medicaid_ASCPFS_CT.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_medicaid_ASCPFS_CT = df_medicaid_ASCPFS_CT[pd.to_numeric(df_medicaid_ASCPFS_CT["MAX FEE"], errors='coerce').notnull()]
df_medicaid_ASCPFS_CT["EFFECTIVE DATE"] = df_medicaid_ASCPFS_CT["EFFECTIVE DATE"].apply(pd.to_datetime)
df_medicaid_ASCPFS_CT["PROCEDURE CODE"] = df_medicaid_ASCPFS_CT["PROCEDURE CODE"].apply(str)
df_medicaid_ASCPFS_CT = df_medicaid_ASCPFS_CT[df_medicaid_ASCPFS_CT["EFFECTIVE DATE"] < pd.to_datetime("1/1/2019")]
df_medicaid_ASCPFS_CT["MAX FEE"] = df_medicaid_ASCPFS_CT["MAX FEE"].astype(float)

In [29]:
df_medicaid_ASCPFS_CT.rename(columns={"PROCEDURE CODE":"PROC CODE"}, inplace=True)

In [30]:
df_medicaid_ASCPFS_CT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2602 entries, 0 to 2625
Data columns (total 9 columns):
PROC CODE           2602 non-null object
PROC DESCRIPTION    2602 non-null object
MOD1                2602 non-null object
MOD1 DESC           2602 non-null object
RATE TYPE           2602 non-null object
MAX FEE             2602 non-null float64
EFFECTIVE DATE      2602 non-null datetime64[ns]
END DATE            2602 non-null object
PA                  2602 non-null object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 203.3+ KB

In [31]:
df_medicaid_ASCPFS_CT.head()

,PROC CODE,PROC DESCRIPTION,MOD1,MOD1 DESC,RATE TYPE,MAX FEE,EFFECTIVE DATE,END DATE,PA
0,10121,Remove foreign body,,,ASC,446.00,2008-10-01,12/31/99,
1,10180,Complex drainage wound,,,ASC,446.00,2008-10-01,12/31/99,
2,11010,Debride skin at fx site,,,ASC,251.52,2008-10-01,12/31/99,
3,11011,Debride skin musc at fx site,,,ASC,251.52,2008-10-01,12/31/99,
4,11012,Deb skin bone at fx site,,,ASC,251.52,2008-10-01,12/31/99,

In [32]:
df_medicaid_ASCPFS_CT.tail()

,PROC CODE,PROC DESCRIPTION,MOD1,MOD1 DESC,RATE TYPE,MAX FEE,EFFECTIVE DATE,END DATE,PA
2621,69915,Incise inner ear nerve,,,ASC,995.00,2008-10-01,12/31/99,
2622,69930,Implant cochlear device,,,ASC,995.00,2008-10-01,12/31/99,
2623,G0105,Colorectal scrn; hi risk ind,,,ASC,415.75,2008-10-01,12/31/99,
2624,G0121,Colon ca scrn not hi rsk ind,,,ASC,415.75,2008-10-01,12/31/99,
2625,G0260,Inj for sacroiliac jt anesth,,,ASC,333.00,2008-10-01,12/31/99,

#### Search 10121 to G0260 in Medicare Fee Search Tool in Connecticut locality.
<img src="images/CT_medicare_pfs.png">

In [33]:
#Medicare Searchable CPT Pricing info for certain CPT
df_CT_medicare_price = pd.read_csv("data/Connecticut/Medicare_PFSExport_CT2018.csv", header=0, 
                                       index_col=None, usecols=[0, 2, 5, 6, 7, 8])
df_CT_medicare_price.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_CT_medicare_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9048 entries, 0 to 9047
Data columns (total 6 columns):
HCPCS CODE                      9048 non-null object
SHORT DESCRIPTION               9048 non-null object
NON-FACILITY PRICE              9048 non-null object
FACILITY PRICE                  9048 non-null object
NON-FACILITY LIMITING CHARGE    5048 non-null object
FACILITY LIMITING CHARGE        6977 non-null object
dtypes: object(6)
memory usage: 424.2+ KB

In [34]:
#Handle $12,234.56 char formatted cash amount to float type
for col in ("NON-FACILITY PRICE", "FACILITY PRICE"):
    df_CT_medicare_price[col] = df_CT_medicare_price[col].str.replace(r',', '')
df_CT_medicare_price["NON-FACILITY PRICE"] = (df_CT_medicare_price["NON-FACILITY PRICE"]
                                                  .str.replace(r'[^-+\d.]', '').astype(float))
df_CT_medicare_price["FACILITY PRICE"] = (df_CT_medicare_price["FACILITY PRICE"]
                                                  .str.replace(r'[^-+\d.]', '').astype(float))

In [35]:
df_CT_medicare_price.rename(columns={"HCPCS CODE":"PROC CODE"}, inplace=True)

In [36]:
df_CT_medicare_price.tail() # NON-FACILITY PRICE VS. FACILITY PRICE

,PROC CODE,SHORT DESCRIPTION,NON-FACILITY PRICE,FACILITY PRICE,NON-FACILITY LIMITING CHARGE,FACILITY LIMITING CHARGE
9043,99494,1st/sbsq psyc collab care,71.63,46.01,$78.26,$50.27
9044,99495,Trans care mgmt 14 day disch,179.50,118.66,$196.11,$129.63
9045,99496,Trans care mgmt 7 day disch,254.05,172.38,$277.54,$188.33
9046,99497,Advncd care plan 30 min,91.28,85.27,$99.72,$93.16
9047,99498,Advncd care plan addl 30 min,80.34,79.94,$87.78,$87.34

In [37]:
df_CT_PFS = pd.merge(df_medicaid_ASCPFS_CT, df_CT_medicare_price, on="PROC CODE")
df_CT_PFS = df_CT_PFS[["PROC CODE", "PROC DESCRIPTION", "MAX FEE", "NON-FACILITY PRICE"]]
df_CT_PFS.rename(columns={"MAX FEE":"MEDICAID_PFS_AMT", "NON-FACILITY PRICE":"MEDICARE_PFS_AMT"}, inplace=True)
df_CT_PFS["ESTIMATED_PRIVATE_PFS_AMT"] = df_CT_PFS["MEDICARE_PFS_AMT"]
df_CT_PFS.head()

,PROC CODE,PROC DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT
0,10121,Remove foreign body,446.00,306.48,306.48
1,10180,Complex drainage wound,446.00,277.66,277.66
2,11010,Debride skin at fx site,251.52,568.10,568.10
3,11011,Debride skin musc at fx site,251.52,608.45,608.45
4,11012,Deb skin bone at fx site,251.52,795.03,795.03

In [38]:
#compute the state level PFS price
CT_medicaidPrcent = df_popMM_2018Bs.iloc[6, 2]
CT_medicarePrcent = df_popMM_2018Bs.iloc[6, 3]
CT_privatePrcent = df_popMM_2018Bs.iloc[6, 4]
#
df_CT_PFS["PFS_AMT_BY_STATE"] = df_CT_PFS["MEDICAID_PFS_AMT"]*IN_medicaidPrcent + \
    df_CT_PFS["MEDICARE_PFS_AMT"]*IN_medicarePrcent + \
    df_CT_PFS["ESTIMATED_PRIVATE_PFS_AMT"]*IN_privatePrcent
df_CT_PFS["PFS_AMT_BY_STATE"] = df_CT_PFS["PFS_AMT_BY_STATE"].round(2)

In [39]:
df_CT_PFS.head()

,PROC CODE,PROC DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE
0,10121,Remove foreign body,446.00,306.48,306.48,336.73
1,10180,Complex drainage wound,446.00,277.66,277.66,314.16
2,11010,Debride skin at fx site,251.52,568.10,568.10,499.46
3,11011,Debride skin musc at fx site,251.52,608.45,608.45,531.06
4,11012,Deb skin bone at fx site,251.52,795.03,795.03,677.19

### Followups 2020-Apr-5
> **Data part**
- [x] State level for Connecticut
- [x] County level, for Indiana/Connecticut

> **Build Github/Upload data files & Jupyter notebook (2020-Apr-12)**
- [ ] Start drafting the report now
    - Start from a Outline first(Just key point): data source (how to collect, how to process, how to output)
    - Outline will be the contents of table later. Then write up the details in each tabs
        - population data source<br>
        - price Fee Schedule structure (medicaid (CMS + STATE (mainly)), medicare (CMS), private insurance (assupmtion-to be same as medicare, not enough time to contact the private providers))<br>
        - Take a weighted sum of the above three fee schedule. What is the wight? How to choose the weight? Why do you choose the population rate as the weights? <br>
    - Understandable to readers(hard)
    - Conclusion & Further Research direction
- [x ] Build Github
- [ ] Upload Final Jupyter notebook script as well as data files
- [ ] Add a new state like N.Y.C. if possible rather than visualizing
- [x ] Make a duplicate medicare column in the price table as private insurance amount

> *Visualization (less important) {Optional}*
- [ ] State level, nationwide %Medicaid, %Medicare, % Private visualize with COVID data from CDC. Heatmap %Medicaid. COVID map side by side; Heatmap %Medicaid, COVID map overlay circles, the size of each circle is Number of COVID cases by state
- [ ] Try the same heatmap by county (California, LA, CT) by county levle. COVID data from Johns Hopkins or CDC

> *Challenge*{optional}
- [ ] can you visualize compete with [data usa](https://datausa.io/profile/geo/connecticut#health)

https://towardsdatascience.com/a-complete-guide-to-an-interactive-geographical-map-using-python-f4c5197e23e0

# 3 - County Level
As we have already collected the census population, medicare enrollment population by county level. However, the county level enrollment of medicaid is not published in the CMS(Centers for Medicare and Medicaid Service). In order to get the county level statistics, we have to dive into the local government health administration website. For generalization, we just take two states (Indiana and Connecticut) as our research data.
>- Indiana
- Connecticut

## Indiana County Level
To get the other county level data - enrollment population of medicaid, we searched the local government [Indiana medicaid monthly enrollment reports](https://www.in.gov/fssa/ompp/4881.htm).
- Population Data, We collect from Inda
    - Census.org population county level: df_IN_popBc2018
    - [Medicaid county level](https://www.in.gov/fssa/ompp/4881.htm)
    - Medicare county level: df_mdcare_2018
- Price Data

In [40]:
# Indiana county level by state
df_IN_mdcaid_2018Bc = pd.read_excel("data/Indiana/Medicaid_IHCP_Monthly_Enrollment_Report_Dec_2018.xlsx", 
                                       sheet_name="County", header=8, nrows=95, index_col=None)
df_IN_mdcaid_2018Bc.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_IN_mdcaid_2018Bc.rename(columns = {"COUNTY TOTAL":"MDCAID_CTY_TOTAL"}, inplace=True)
df_IN_mdcaid_2018Bc.head()

,ANTHEM,CARESOURCE,MDWISE,MHS,TOTAL,ANTHEM.1,MHS.1,TOTAL.1,ANTHEM.2,CARESOURCE.1,MDWISE.1,MHS.2,UNASSIGNED1,TOTAL.2,TOTAL.3,MDCAID_CTY_TOTAL
01-ADAMS,555.0,237.0,545.0,578.0,1915.0,180.0,102.0,282.0,491.0,132.0,290.0,295.0,18.0,1226.0,1127.0,4550
02-ALLEN,13119.0,3622.0,14646.0,5465.0,36852.0,3471.0,2020.0,5491.0,8157.0,2441.0,6782.0,3161.0,1239.0,21780.0,16594.0,80717
03-BARTHOLOMEW,894.0,394.0,1801.0,2663.0,5752.0,350.0,404.0,754.0,1218.0,314.0,989.0,1116.0,309.0,3946.0,3256.0,13708
04-BENTON,155.0,108.0,501.0,188.0,952.0,52.0,53.0,105.0,161.0,64.0,246.0,114.0,15.0,600.0,447.0,2104
05-BLACKFORD,315.0,123.0,563.0,255.0,1256.0,96.0,86.0,182.0,335.0,80.0,392.0,128.0,3.0,938.0,733.0,3109

In [41]:
df_IN_mdcaid_2018Bc.reset_index(inplace=True)
df_IN_mdcaid_2018Bc.rename(columns={"index":"COUNTY_ID_NAME"}, inplace=True)
df_IN_mdcaid_2018Bc.head()

,COUNTY_ID_NAME,ANTHEM,CARESOURCE,MDWISE,MHS,TOTAL,ANTHEM.1,MHS.1,TOTAL.1,ANTHEM.2,CARESOURCE.1,MDWISE.1,MHS.2,UNASSIGNED1,TOTAL.2,TOTAL.3,MDCAID_CTY_TOTAL
0,01-ADAMS,555.0,237.0,545.0,578.0,1915.0,180.0,102.0,282.0,491.0,132.0,290.0,295.0,18.0,1226.0,1127.0,4550
1,02-ALLEN,13119.0,3622.0,14646.0,5465.0,36852.0,3471.0,2020.0,5491.0,8157.0,2441.0,6782.0,3161.0,1239.0,21780.0,16594.0,80717
2,03-BARTHOLOMEW,894.0,394.0,1801.0,2663.0,5752.0,350.0,404.0,754.0,1218.0,314.0,989.0,1116.0,309.0,3946.0,3256.0,13708
3,04-BENTON,155.0,108.0,501.0,188.0,952.0,52.0,53.0,105.0,161.0,64.0,246.0,114.0,15.0,600.0,447.0,2104
4,05-BLACKFORD,315.0,123.0,563.0,255.0,1256.0,96.0,86.0,182.0,335.0,80.0,392.0,128.0,3.0,938.0,733.0,3109

In [42]:
df_IN_mdcaid_2018Bc = df_IN_mdcaid_2018Bc[["COUNTY_ID_NAME", "MDCAID_CTY_TOTAL"]]
df_IN_mdcaid_2018Bc[["COUNTY_ID", "CTYNAME"]] = df_IN_mdcaid_2018Bc.COUNTY_ID_NAME.str.split("-", expand=True)
df_IN_mdcaid_2018Bc.CTYNAME = df_IN_mdcaid_2018Bc.CTYNAME.apply(lambda x: x.strip() + " COUNTY")

In [43]:
df_IN_mdcaid_2018Bc.head()

    COUNTY_ID_NAME  MDCAID_CTY_TOTAL COUNTY_ID             CTYNAME
0  01-ADAMS                     4550        01        ADAMS COUNTY
1  02-ALLEN                    80717        02        ALLEN COUNTY
2  03-BARTHOLOMEW              13708        03  BARTHOLOMEW COUNTY
3  04-BENTON                    2104        04       BENTON COUNTY
4  05-BLACKFORD                 3109        05    BLACKFORD COUNTY

In [44]:
df_IN_mdcaid_2018Bc.count()

COUNTY_ID_NAME      95
MDCAID_CTY_TOTAL    95
COUNTY_ID           95
CTYNAME             95
dtype: int64

#### Indiana's county level population from census statistics

In [45]:
#df_pop_by_county_2018
df_IN_popBc2018 = df_pop_total_2018Bc[df_pop_total_2018Bc["STNAME"] == "Indiana"]
df_IN_popBc2018 = df_IN_popBc2018[["STNAME", "CTYNAME", "TOT_POP"]]
df_IN_popBc2018.head()

         STNAME             CTYNAME  TOT_POP
145863  Indiana        ADAMS COUNTY    35636
146072  Indiana        ALLEN COUNTY   375351
146281  Indiana  BARTHOLOMEW COUNTY    82753
146490  Indiana       BENTON COUNTY     8653
146699  Indiana    BLACKFORD COUNTY    11930

In [46]:
df_IN_popBc2018.count()

STNAME     92
CTYNAME    92
TOT_POP    92
dtype: int64

In [47]:
df_mdcare_2018.head()

,STABBR,CTYNAME,FIPS_CODE,MDCARE_TOTAL_2018,FFS BENEFICIARIES,MA BENEFICIARIES
0,Na,NATIONAL TOTAL COUNTY,nan,56031636,33499472,22532164
1,AK,STATE TOTAL COUNTY,nan,86462,84714,1748
2,AK,ALEUTIANS EAST COUNTY,2013,117,117,0
3,AK,ALEUTIANS WEST COUNTY,2016,135,135,0
4,AK,ANCHORAGE COUNTY,2020,32227,31503,724

In [48]:
df_IN_mdcare_2018Bc = df_mdcare_2018[df_mdcare_2018["STABBR"] == "IN"]
df_IN_mdcare_2018Bc = df_IN_mdcare_2018Bc[df_IN_mdcare_2018Bc["CTYNAME"] != "STATE TOTAL COUNTY"]
#STATE TOTAL COUNTY
df_IN_mdcare_2018Bc = df_IN_mdcare_2018Bc[["STABBR", "CTYNAME", "FIPS_CODE", "MDCARE_TOTAL_2018"]]
df_IN_mdcare_2018Bc.head()

    STABBR             CTYNAME FIPS_CODE  MDCARE_TOTAL_2018
826     IN        ADAMS COUNTY     18001               5785
827     IN        ALLEN COUNTY     18003              62136
828     IN  BARTHOLOMEW COUNTY     18005              14761
829     IN       BENTON COUNTY     18007               1777
830     IN    BLACKFORD COUNTY     18009               3042

In [49]:
df_IN_mdcare_2018Bc.count()

STABBR               92
CTYNAME              92
FIPS_CODE            92
MDCARE_TOTAL_2018    92
dtype: int64

In [50]:
#df_pop_mdcaid_2018Bs = pd.merge(df_pop_total_2018Bs, df_mdcaid_2018Bs, on="STNAME")
df_IN_temp_2018Bc = pd.merge(df_IN_popBc2018, df_IN_mdcaid_2018Bc, on="CTYNAME")
df_IN_popMM_2018Bc = pd.merge(df_IN_temp_2018Bc, df_IN_mdcare_2018Bc, on="CTYNAME")

In [51]:
df_IN_popMM_2018Bc = df_IN_popMM_2018Bc[["STABBR", "STNAME", "CTYNAME", "TOT_POP", 
                                         "MDCAID_CTY_TOTAL", "MDCARE_TOTAL_2018"]]

In [52]:
# Insert new column "COUNTY_MDCAID_PT", "COUNTY_MDCARE_PT", "COUNTY_PRIVATE_PT"
df_IN_popMM_2018Bc["COUNTY_MDCAID_PT"] = df_IN_popMM_2018Bc["MDCAID_CTY_TOTAL"] / df_IN_popMM_2018Bc["TOT_POP"]
df_IN_popMM_2018Bc["COUNTY_MDCARE_PT"] = df_IN_popMM_2018Bc["MDCARE_TOTAL_2018"] / df_IN_popMM_2018Bc["TOT_POP"]
# Assume 
df_IN_popMM_2018Bc["COUNTY_PRIVATE_PT"] = 1 - (df_IN_popMM_2018Bc["COUNTY_MDCAID_PT"] 
                                               + df_IN_popMM_2018Bc["COUNTY_MDCARE_PT"])
#
df_IN_popMM_2018Bc.head()

,STABBR,STNAME,CTYNAME,TOT_POP,MDCAID_CTY_TOTAL,MDCARE_TOTAL_2018,COUNTY_MDCAID_PT,COUNTY_MDCARE_PT,COUNTY_PRIVATE_PT
0,IN,Indiana,ADAMS COUNTY,35636,4550,5785,0.127680,0.162336,0.709984
1,IN,Indiana,ALLEN COUNTY,375351,80717,62136,0.215044,0.165541,0.619415
2,IN,Indiana,BARTHOLOMEW COUNTY,82753,13708,14761,0.165650,0.178374,0.655976
3,IN,Indiana,BENTON COUNTY,8653,2104,1777,0.243153,0.205362,0.551485
4,IN,Indiana,BLACKFORD COUNTY,11930,3109,3042,0.260604,0.254987,0.484409

In [53]:
df_IN_popMM_2018Bc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 9 columns):
STABBR               92 non-null object
STNAME               92 non-null object
CTYNAME              92 non-null object
TOT_POP              92 non-null int64
MDCAID_CTY_TOTAL     92 non-null int64
MDCARE_TOTAL_2018    92 non-null int64
COUNTY_MDCAID_PT     92 non-null float64
COUNTY_MDCARE_PT     92 non-null float64
COUNTY_PRIVATE_PT    92 non-null float64
dtypes: float64(3), int64(3), object(3)
memory usage: 7.2+ KB

### Physician Fee Schedule Amount for county level
"PFS_AMT_BY_STATE"

- df_IN_PFS
- df_CT_PFS

In [54]:
# df_IN_PFS, make one-hot matrix table for county-level price
IN_counties = ["PFS_AMT_BY_" + "_".join(county.split(" ")) for county in df_IN_popMM_2018Bc["CTYNAME"]]
# counties = [county for county in df_IN_popMM_2018Bc["CTYNAME"]]
# initialize all values as 0.0
df_IN_PFS[IN_counties] = pd.DataFrame([[0.0]*len(IN_counties)], index=df_IN_PFS.index)
df_IN_PFS.head()

,PROC CODE,DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE,PFS_AMT_BY_ADAMS_COUNTY,PFS_AMT_BY_ALLEN_COUNTY,PFS_AMT_BY_BARTHOLOMEW_COUNTY,PFS_AMT_BY_BENTON_COUNTY,...,PFS_AMT_BY_VERMILLION_COUNTY,PFS_AMT_BY_VIGO_COUNTY,PFS_AMT_BY_WABASH_COUNTY,PFS_AMT_BY_WARREN_COUNTY,PFS_AMT_BY_WARRICK_COUNTY,PFS_AMT_BY_WASHINGTON_COUNTY,PFS_AMT_BY_WAYNE_COUNTY,PFS_AMT_BY_WELLS_COUNTY,PFS_AMT_BY_WHITE_COUNTY,PFS_AMT_BY_WHITLEY_COUNTY
0,10030,GUIDE CATHET FLUID DRAINAGE,539.11,533.82,533.82,534.97,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10035,PERQ DEV SOFT TISS 1ST IMAG,480.64,488.31,488.31,486.65,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,19081,BX BREAST 1ST LESION STRTCTC,702.08,652.03,652.03,662.88,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19083,BX BREAST 1ST LESION US IMAG,702.08,634.19,634.19,648.91,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19085,BX BREAST 1ST LESION MR IMAG,702.08,948.13,948.13,894.78,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
df_IN_PFS.head()

,PROC CODE,DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE,PFS_AMT_BY_ADAMS_COUNTY,PFS_AMT_BY_ALLEN_COUNTY,PFS_AMT_BY_BARTHOLOMEW_COUNTY,PFS_AMT_BY_BENTON_COUNTY,...,PFS_AMT_BY_VERMILLION_COUNTY,PFS_AMT_BY_VIGO_COUNTY,PFS_AMT_BY_WABASH_COUNTY,PFS_AMT_BY_WARREN_COUNTY,PFS_AMT_BY_WARRICK_COUNTY,PFS_AMT_BY_WASHINGTON_COUNTY,PFS_AMT_BY_WAYNE_COUNTY,PFS_AMT_BY_WELLS_COUNTY,PFS_AMT_BY_WHITE_COUNTY,PFS_AMT_BY_WHITLEY_COUNTY
0,10030,GUIDE CATHET FLUID DRAINAGE,539.11,533.82,533.82,534.97,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10035,PERQ DEV SOFT TISS 1ST IMAG,480.64,488.31,488.31,486.65,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,19081,BX BREAST 1ST LESION STRTCTC,702.08,652.03,652.03,662.88,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19083,BX BREAST 1ST LESION US IMAG,702.08,634.19,634.19,648.91,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19085,BX BREAST 1ST LESION MR IMAG,702.08,948.13,948.13,894.78,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
# start computing the price based on population rate in each county
for i, county in enumerate(IN_counties):
    # find out the conresponding row index in df_IN_popMM_2018Bc with i
    # get medicaid, medicare, private insurance population rate
    IN_mdcaid_rate = df_IN_popMM_2018Bc.iloc[i, 6]
    IN_mdcare_rate = df_IN_popMM_2018Bc.iloc[i, 7]
    IN_private_rate = df_IN_popMM_2018Bc.iloc[i, 8]
    # use vectorization is better than loops (Time complexity + efficiency)
    df_IN_PFS[county] = (df_IN_PFS["MEDICAID_PFS_AMT"]*IN_mdcaid_rate + \
                        df_IN_PFS["MEDICARE_PFS_AMT"]*IN_mdcare_rate + \
                        df_IN_PFS["MEDICARE_PFS_AMT"]*IN_private_rate).round(2)
df_IN_PFS.head()

,PROC CODE,DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE,PFS_AMT_BY_ADAMS_COUNTY,PFS_AMT_BY_ALLEN_COUNTY,PFS_AMT_BY_BARTHOLOMEW_COUNTY,PFS_AMT_BY_BENTON_COUNTY,...,PFS_AMT_BY_VERMILLION_COUNTY,PFS_AMT_BY_VIGO_COUNTY,PFS_AMT_BY_WABASH_COUNTY,PFS_AMT_BY_WARREN_COUNTY,PFS_AMT_BY_WARRICK_COUNTY,PFS_AMT_BY_WASHINGTON_COUNTY,PFS_AMT_BY_WAYNE_COUNTY,PFS_AMT_BY_WELLS_COUNTY,PFS_AMT_BY_WHITE_COUNTY,PFS_AMT_BY_WHITLEY_COUNTY
0,10030,GUIDE CATHET FLUID DRAINAGE,539.11,533.82,533.82,534.97,534.50,534.96,534.70,535.11,...,535.15,535.17,534.91,534.74,534.52,535.03,535.23,534.61,534.87,534.47
1,10035,PERQ DEV SOFT TISS 1ST IMAG,480.64,488.31,488.31,486.65,487.33,486.66,487.04,486.45,...,486.38,486.35,486.72,486.97,487.30,486.55,486.27,487.17,486.79,487.37
2,19081,BX BREAST 1ST LESION STRTCTC,702.08,652.03,652.03,662.88,658.42,662.79,660.32,664.20,...,664.61,664.81,662.39,660.77,658.63,663.49,665.37,659.49,661.96,658.16
3,19083,BX BREAST 1ST LESION US IMAG,702.08,634.19,634.19,648.91,642.86,648.79,645.44,650.70,...,651.26,651.52,648.24,646.05,643.14,649.73,652.28,644.31,647.67,642.50
4,19085,BX BREAST 1ST LESION MR IMAG,702.08,948.13,948.13,894.78,916.71,895.22,907.37,888.30,...,886.28,885.31,897.22,905.16,915.70,891.81,882.56,911.47,899.29,918.01

## Connecticut County Level
To get the other county level data - enrollment population of medicaid, we searched the local government [Indiana medicaid monthly enrollment reports](https://portal.ct.gov/DSS/ITS/DSS-HealthIT/Business-Intelligence-and-DSS-HealthIT/Data-and-Program-Reports).
- Population Data, We collect from data.ct.gov
    - Census.org population county level: df_IN_popBc2018
    - [DSS Township Counts - by Program - CY 2018](https://data.ct.gov/Health-and-Human-Services/DSS-Township-Counts-by-Program-CY-2018/n5xw-nk45)
    Connecticut’s Medicaid program is called HUSKY Health, and it is broken into several categories (enrollment and cost data based on a report published in 2018).
    - [Towns and Counties List in Connecticut](https://ctstatelibrary.org/cttowns/counties)
    As state Connecticut has only township medicaid enrollment, we are going to combine the relation table of town and counties with the township medicaid enrollment to get our county level enrollment. Steps: download the html in local pc, then open it with excel. You can generate the table in the excel as in the html😀🤟
    - Medicare county level: df_mdcare_2018
- Physician Fee Schedule Data ()

In [57]:
#df_pop_by_county_2018
df_CT_popBc2018 = df_pop_total_2018Bc[df_pop_total_2018Bc["STNAME"] == "Connecticut"]
df_CT_popBc2018 = df_CT_popBc2018[["STNAME", "CTYNAME", "TOT_POP"]]
df_CT_popBc2018.head(10)

            STNAME            CTYNAME  TOT_POP
64562  Connecticut   FAIRFIELD COUNTY   943823
64771  Connecticut    HARTFORD COUNTY   892697
64980  Connecticut  LITCHFIELD COUNTY   181111
65189  Connecticut   MIDDLESEX COUNTY   162682
65398  Connecticut   NEW HAVEN COUNTY   857620
65607  Connecticut  NEW LONDON COUNTY   266784
65816  Connecticut     TOLLAND COUNTY   150921
66025  Connecticut     WINDHAM COUNTY   117027

In [58]:
# medicare enrollment by county
df_CT_mdcare_2018Bc = df_mdcare_2018[df_mdcare_2018["STABBR"] == "CT"]
df_CT_mdcare_2018Bc = df_CT_mdcare_2018Bc[df_CT_mdcare_2018Bc["CTYNAME"] != "STATE TOTAL COUNTY"]
#STATE TOTAL COUNTY
df_CT_mdcare_2018Bc = df_CT_mdcare_2018Bc[["STABBR", "CTYNAME", "FIPS_CODE", "MDCARE_TOTAL_2018"]]
df_CT_mdcare_2018Bc.head(10)

    STABBR            CTYNAME FIPS_CODE  MDCARE_TOTAL_2018
322     CT   FAIRFIELD COUNTY      9001             140312
323     CT    HARTFORD COUNTY      9003             157942
324     CT  LITCHFIELD COUNTY      9005              38770
325     CT   MIDDLESEX COUNTY      9007              33051
326     CT   NEW HAVEN COUNTY      9009             149556
327     CT  NEW LONDON COUNTY      9011              50739
328     CT     TOLLAND COUNTY      9013              24445
330     CT     WINDHAM COUNTY      9015              21434

In [59]:
# Connecticut Towns and Counties List
# medicaid_DSS_Township_Counts_-_by_Program_-_CY_2018.csv, including program "medicaid" + "CHIP"
# Connecticut_Towns_and_Counties.xlsx
df_CT_DSS_2018Bt = pd.read_csv("data/Connecticut/medicaid_DSS_Township_Counts_-_by_Program_-_CY_2018.csv", 
                                   header=0, index_col=None, usecols=None)
df_CT_DSS_2018Bt.rename(columns = lambda x:x.strip().upper(), inplace=True)
df_CT_Town_County = pd.read_excel("data/Connecticut/Connecticut_Towns_and_Counties.xlsx",
                                 sheet_name="townslist",
                                 header=0, 
                                 index_col=None)
df_CT_Town_County.rename(columns = {"Town name":"TOWNSHIP", "County":"CTYNAME"}, inplace=True)

In [60]:
df_CT_TOT_2018Bt = df_CT_DSS_2018Bt[df_CT_DSS_2018Bt["PROGRAM"].isin(["Medicaid", "CHIP"])]
# df_CT_TOT_2018Bt["COUNT"] = df_CT_TOT_2018Bt["COUNT"].str.replace(r',', '')
# df_CT_TOT_2018Bt["COUNT"] = df_CT_TOT_2018Bt["COUNT"].str.replace(r'[^-+\d.]', '').astype(int)
# Use .loc(label)/.iloc(int) to avoid SettingWithCopyWarning in Pandas
df_CT_TOT_2018Bt.loc[:, "COUNT"] = df_CT_TOT_2018Bt["COUNT"].apply(lambda x:x.replace(r',', ''))
df_CT_TOT_2018Bt.loc[:, "COUNT"] = df_CT_TOT_2018Bt["COUNT"].apply(lambda x:int(x.replace(r'[^-+\d.]', '')))
df_CT_mdcaid_2018Bt = df_CT_TOT_2018Bt.groupby(["TOWNSHIP"])["COUNT"].sum().reset_index()
# df_CT_mdcaid_2018Bt.rename(columns={"COUNT":"MDCAID_TOTAL_BY_TOWN"})

In [61]:
#MREGE
df_CT_mix = pd.merge(df_CT_mdcaid_2018Bt, df_CT_Town_County, on="TOWNSHIP")

In [62]:
df_CT_mdcaid_2018Bc = df_CT_mix.groupby(["CTYNAME"])["COUNT"].sum().reset_index()
df_CT_mdcaid_2018Bc.rename(columns={"COUNT":"MDCAID_CTY_TOTAL"}, inplace=True)
df_CT_mdcaid_2018Bc.CTYNAME = df_CT_mdcaid_2018Bc.CTYNAME.apply(lambda x:x.strip().upper() + " COUNTY")
df_CT_mdcaid_2018Bc.head(10)

             CTYNAME  MDCAID_CTY_TOTAL
0   FAIRFIELD COUNTY            239342
1    HARTFORD COUNTY            295583
2  LITCHFIELD COUNTY             44492
3   MIDDLESEX COUNTY             34245
4   NEW HAVEN COUNTY            297593
5  NEW LONDON COUNTY             78547
6     TOLLAND COUNTY             25401
7     WINDHAM COUNTY             39548

In [63]:
#df_pop_mdcaid_2018Bs = pd.merge(df_pop_total_2018Bs, df_mdcaid_2018Bs, on="STNAME")
df_CT_temp_2018Bc = pd.merge(df_CT_popBc2018, df_CT_mdcaid_2018Bc, on="CTYNAME")
df_CT_popMM_2018Bc = pd.merge(df_CT_temp_2018Bc, df_CT_mdcare_2018Bc, on="CTYNAME")
df_CT_popMM_2018Bc = df_CT_popMM_2018Bc[["STABBR", "STNAME", "CTYNAME", "TOT_POP", 
                                         "MDCAID_CTY_TOTAL", "MDCARE_TOTAL_2018"]]
# Insert new column "COUNTY_MDCAID_PT", "COUNTY_MDCARE_PT", "COUNTY_PRIVATE_PT"
df_CT_popMM_2018Bc["COUNTY_MDCAID_PT"] = df_CT_popMM_2018Bc["MDCAID_CTY_TOTAL"] / df_CT_popMM_2018Bc["TOT_POP"]
df_CT_popMM_2018Bc["COUNTY_MDCARE_PT"] = df_CT_popMM_2018Bc["MDCARE_TOTAL_2018"] / df_CT_popMM_2018Bc["TOT_POP"]
# Assume 
df_CT_popMM_2018Bc["COUNTY_PRIVATE_PT"] = 1 - (df_CT_popMM_2018Bc["COUNTY_MDCAID_PT"] 
                                               + df_CT_popMM_2018Bc["COUNTY_MDCARE_PT"])
#
df_CT_popMM_2018Bc.head(10)

,STABBR,STNAME,CTYNAME,TOT_POP,MDCAID_CTY_TOTAL,MDCARE_TOTAL_2018,COUNTY_MDCAID_PT,COUNTY_MDCARE_PT,COUNTY_PRIVATE_PT
0,CT,Connecticut,FAIRFIELD COUNTY,943823,239342,140312,0.253588,0.148663,0.597749
1,CT,Connecticut,HARTFORD COUNTY,892697,295583,157942,0.331112,0.176927,0.491961
2,CT,Connecticut,LITCHFIELD COUNTY,181111,44492,38770,0.245662,0.214068,0.540271
3,CT,Connecticut,MIDDLESEX COUNTY,162682,34245,33051,0.210503,0.203163,0.586334
4,CT,Connecticut,NEW HAVEN COUNTY,857620,297593,149556,0.346999,0.174385,0.478616
5,CT,Connecticut,NEW LONDON COUNTY,266784,78547,50739,0.294422,0.190188,0.515391
6,CT,Connecticut,TOLLAND COUNTY,150921,25401,24445,0.168307,0.161972,0.669721
7,CT,Connecticut,WINDHAM COUNTY,117027,39548,21434,0.337939,0.183154,0.478907

#### Physician Fee Schedule for Connecticut

In [64]:
# df_IN_PFS, make one-hot matrix table for county-level price
CT_counties = ["PFS_AMT_BY_" + "_".join(county.split(" ")) for county in df_CT_popMM_2018Bc["CTYNAME"]]
# counties = [county for county in df_CT_popMM_2018Bc["CTYNAME"]]
# initialize all values as 0.0
df_CT_PFS[CT_counties] = pd.DataFrame([[0.0]*len(CT_counties)], index=df_CT_PFS.index)
df_CT_PFS.head()

,PROC CODE,PROC DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE,PFS_AMT_BY_FAIRFIELD_COUNTY,PFS_AMT_BY_HARTFORD_COUNTY,PFS_AMT_BY_LITCHFIELD_COUNTY,PFS_AMT_BY_MIDDLESEX_COUNTY,PFS_AMT_BY_NEW_HAVEN_COUNTY,PFS_AMT_BY_NEW_LONDON_COUNTY,PFS_AMT_BY_TOLLAND_COUNTY,PFS_AMT_BY_WINDHAM_COUNTY
0,10121,Remove foreign body,446.00,306.48,306.48,336.73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10180,Complex drainage wound,446.00,277.66,277.66,314.16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11010,Debride skin at fx site,251.52,568.10,568.10,499.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11011,Debride skin musc at fx site,251.52,608.45,608.45,531.06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11012,Deb skin bone at fx site,251.52,795.03,795.03,677.19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
# start computing the price based on population rate in each county
for i, county in enumerate(CT_counties):
    # find out the conresponding row index in df_IN_popMM_2018Bc with i
    # get medicaid, medicare, private insurance population rate
    CT_mdcaid_rate = df_CT_popMM_2018Bc.iloc[i, 6]
    CT_mdcare_rate = df_CT_popMM_2018Bc.iloc[i, 7]
    CT_private_rate = df_CT_popMM_2018Bc.iloc[i, 8]
    # use vectorization is better than loops (Time complexity + efficiency)
    df_CT_PFS[county] = (df_CT_PFS["MEDICAID_PFS_AMT"]*CT_mdcaid_rate + \
                        df_CT_PFS["MEDICARE_PFS_AMT"]*CT_mdcare_rate + \
                        df_CT_PFS["MEDICARE_PFS_AMT"]*CT_private_rate).round(2)
df_CT_PFS.head()

,PROC CODE,PROC DESCRIPTION,MEDICAID_PFS_AMT,MEDICARE_PFS_AMT,ESTIMATED_PRIVATE_PFS_AMT,PFS_AMT_BY_STATE,PFS_AMT_BY_FAIRFIELD_COUNTY,PFS_AMT_BY_HARTFORD_COUNTY,PFS_AMT_BY_LITCHFIELD_COUNTY,PFS_AMT_BY_MIDDLESEX_COUNTY,PFS_AMT_BY_NEW_HAVEN_COUNTY,PFS_AMT_BY_NEW_LONDON_COUNTY,PFS_AMT_BY_TOLLAND_COUNTY,PFS_AMT_BY_WINDHAM_COUNTY
0,10121,Remove foreign body,446.00,306.48,306.48,336.73,341.86,352.68,340.75,335.85,354.89,347.56,329.96,353.63
1,10180,Complex drainage wound,446.00,277.66,277.66,314.16,320.35,333.40,319.01,313.10,336.07,327.22,305.99,334.55
2,11010,Debride skin at fx site,251.52,568.10,568.10,499.46,487.82,463.28,490.33,501.46,458.25,474.89,514.82,461.12
3,11011,Debride skin musc at fx site,251.52,608.45,608.45,531.06,517.94,490.27,520.77,533.32,484.60,503.36,548.38,487.83
4,11012,Deb skin bone at fx site,251.52,795.03,795.03,677.19,657.20,615.07,661.51,680.62,606.43,635.01,703.55,611.36